@inherits LayoutComponentBase



<div class="page">
    <div class="sidebar">
        <DefualtNavMenu />
    </div>

    <main>
 
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<style>
    .page{
        display:flex;
    }
</style>